* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(120deg, #007bff, #d0314c);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    margin: 5% 20%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

#form:hover {
    transform: scale(1.01);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

#form h1 {
    margin: 20px 0;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

#form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#form input,
#form select {
    height: 50px;
    width: 350px;
    text-align: center;
    font-size: 18px
}

;